@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&family=IM+Fell+French+Canon+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: #ffffff;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    margin: 0;
}

.logo{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    color: #206cdf;
}

.navbar-toggler:focus {
    box-shadow: none;
}

nav {
   height: 65px;  
}

.container_2 {
    border-end-start-radius: 150px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.containers {
    width: 98%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.image_set {
    background-image: url(./Img/Header\ bg@2x.png);
    background-size: cover;
    margin-top: 45px;
    display: flex;
    padding: 10px;
    
}


.contents {
    width: 78%;
}

.contents h1 {
    font-size: 58px;
    display: flex;
    flex-direction: column;
    color: #091E42;
}

.contents p {
    font-size: 19px;
}

#img {
    position: relative;
    right: 40px;
    top: 30px;
}

.social-icons {
    font-size: 40px;
    gap: 5px;
}

.boxi {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    text-align: left;
    height: auto;
    margin-top: 100px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.bxs-circle {
    color: #d0c6c1 !important;
    font-size: 12px;
    border: 0px #ffff;
}

.sect {
    width: 100%;
    margin-top: 35px;
    display: flex;
    gap: 10px;
}

.wrapper {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 17px;
  align-items: flex-end;
  margin-top: 25px;
}

.static-text {
  font-size: 28px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: black;
}

.dynamic-text {
  font-size: 28px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  position: relative;
  color: #206cdf;
  min-width: 280px;
}

.typing-text::after {
  content: '';
  display: inline-block;
  width: 2px;
  height: 100%;
  background: rgb(62, 131, 187);
  margin-left: 3px;
  animation: blink 1.5s infinite;
  vertical-align: middle;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}


.conol {
    background-color: #EBEBFF;
    margin: 2px;
    padding: 9px;
    color: #6070FF;
    max-width: auto;
    border-radius: 8px;
}

.botn {
    border: 0.5px solid #6070FF;
    color: #6070FF;
    margin-top: 20px;
    width: 126px;
    padding: 12px;
    border-radius: 8px;
    background-color: #ffffff;
    cursor: pointer;
}

.butns {
    border: none;
    background-color: #4053FC;
    color: #ffffff;
    width: 126px;
    border-radius: 8px;
    padding: 12px;
    transition: .4s ease-in-out;
    transform: scale(1.2);
    cursor: pointer;
}

.butns:hover {
    background-color: darkblue;
}

.styleIt {
    margin-left: auto;
}

span {
    gap: 50px;
}

.cont {
    gap: 20px;
    background-color: #EBEBFF;
    margin: 2px;
    padding: 20px;
    color: #6070FF;
    max-width: 25vh;
    border-radius: 8px;
}

.box {
    padding: 18px;
    margin-left: -20px;
}

.yesDisplay {
    display: none;
    width: 100%;
}

.cond{
    background-color: #EBEBFF;
    color: #6070FF;
    padding: 8px;
    border-radius: 5px;
}

.box3 {
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 60vh;
}

.d-flex {
    gap: 35px;
}

.botn2 {
    border: 0.5px solid #6070FF;
    color: #6070FF;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: #ffffff;
}

.botn02 {
    border: 0.5px solid #6070FF;
    color: #6070FF;
    width: 90%;
    height: 40px;
    border-radius: 8px;
    background-color: #ffffff;
}

.box4 {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.boxil {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    text-align: left;
    height: auto;
    gap: 10px;
    padding: 50px;
}

.boxil2 {
    border-start-end-radius: 180px;
    box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.3);
    height: auto;
    padding: 20px;
    margin-top: 100px;
}

.accordion-button {
    background-color: white !important;
    outline: none;
    box-shadow: 0 0 0 2px rgb(251, 252, 253) !important;
}

.accordion {
    border: none !important;
}

.flates {
    background-color: transparent;
    padding: 8px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

}

.victor {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: auto;
}

.bg {
    background: url(contact\ form\ background\ shapes@2x.png);
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.contactme {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4e60fd;
    margin-top: 10px;
    border-start-start-radius: 120px;
}

.last-screen{
    display: none;
}

.text-center {
    margin-top: 80px;
    width: 40%;
}

.button {
    border: 0;
    background-color: #ffffff;
    color: #4053FC;
    padding: 10px;
    border-radius: 8px;
}

.wraps {
    width: 100%;
    margin-top: -20px;
}

.mobile {
    width: 90%;
}

.scroll-content {
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translate(-50%, -50%);
    height: auto;
    margin-bottom: 20px;
    overflow: hidden;
    line-height: 40px;
    width: 100%;
}

.scroll-content {
    position: relative;
    margin-bottom: 5px;
}


.scroll-content-container {
    position: relative;
    overflow: hidden;
    height: 60px;
    padding: 0 40px;
}


.scroll-content-container-text {
    display: inline;
    float: left;
    margin: 0;
    height: 25px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 52px !important;
}

.scroll-content-container-list {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: center;
    animation: change 8s infinite;
}


.scroll-content-container-list-item {
    height: 62px;
    line-height: 26px;
    padding-left: 18px;
    padding-top: 21px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #206cdf;
}



@keyframes change {

  
    0%,
    40% {
        transform: translateY(0);
    }

    /* Transition to the second item */
    45% {
        transform: translateY(-60px);
    }

    /* Hold on the second item */
    85% {
        transform: translateY(-60px);
    }

    /* Transition back to the first item */
    90% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}


.circular-image {
  width: 250px;            
  height: 250px;
  border-radius: 50%;       
  object-fit: cover;       
  display: block;         
  margin: 0 auto;
  position: relative;
  left: 60px;
  top: 40px;
}




@media (max-width: 768px) {
    .offcanvas {
        background-color: #4a5bf896;
        backdrop-filter: blur(5px);
    }


    .offcanvas .nav-link {
        color: white !important;
        position: relative;
        top: -40px;
    }

    .circular-image{
        position: relative;

        top: 20px;
        display: flex;
        justify-content: center;
        left: 0px;
        padding: 15px;

    }

    .offcanvas .bx-x {
        color: white !important;
    }

    .container_2 {
        height: auto;
        padding: -50px;
        border-end-start-radius: 90px;
    }

    .Alexa {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .boxi {
        flex-wrap: wrap;
    }

    .boxil {
        flex-wrap: wrap;
        padding: 0;
        margin-top: 60px;
    }

    .cond {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .noDisplay {
        display: none;
    }

    .box {
        display: none;
    }

    .d-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .yesDisplay {
        display: block;
    }

    .sect0 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: auto;
    }

    .box3 {
        display: flex;
        flex-direction: row;
    }

    .boxflex {
        display: flex;
        flex-direction: column;
    }

    .bx-chevron-down {
        margin-left: 10.8vh;
        font-size: 25px;
        padding-left: 22px;
    }

    .open2 {
        width: 100vh;
    }

    .text-center {
        width: fit-content;
    }

    .boxil2 {
        border-start-end-radius: 120px;
    }

    .butns {
        width: 109px;
        padding: 8px;
        height: 36px;
    }

    .victor {
        flex-wrap: wrap;
    }

    .contents {
        width: auto;
    }

    .containers {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .last-screen {
        display: none;
    }

}


@media (max-width:600px) {
    
    .last-screen{
        display: none;
    }

    .portfolio-wrapper {
        display: flex;
        justify-content: center;
    }
}

@media (max-width:400px) {
    .yesDisplay {
        display: none;
    }
    .last-screen{
        display: block;
        margin-top: 20px !important;
        margin-bottom: 40px;
    }
}